@font-face {
  font-family: Frizon;
  src: url("../assets/fonts/Frizon.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto.ttf");
}
